.new-searchbar-ctn {
    width: 400px;
    display: flex;
    font-size: 18px;
    margin: 10px auto;
    border-radius: 3px;
    box-shadow: 0px 0px 7px 2px #6661;
}

.new-searchbar-ctn input {
    font-size: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 300px;
    color: gray;
}

.new-searchbar-ctn button {
    outline: none;
    border: none;
    width: 100px;
    font-size: 18px;
    height: 100%;
    cursor: pointer;
}

.loadmore
{
    font-size: 22px;
    padding: 10px;
    font-weight: 300;
    color:#4a4a4a;
    cursor: pointer;
    width: fit-content;
    /* background-color: grey; */
    margin:10px auto;
}

.loadmore:hover{
    color:#000;
    font-weight: 500;
}

.no-news-data{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    color: #4a4a4a;
    font-weight: 500;
}

.errored-news-data
{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    color: red;
    font-weight: 500;
}