

.appbar-links {
  text-decoration: none;
  color: black;
  padding: 0px 13px;
}

.appbar-main {
  height: 50px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  background-color: burlywood;
  width: 100vw;
  z-index: 99999;
}


.appbar-main li {

  display: inline-flex;
}
